<section class="contain">
    <div class="site-content">
        <footer  class="page-footer bg-dark">
            <div class="row f-content d-flex justify-content-center" style="background: #fff">
              <div class="col col-lg-4 col-md-6 col-sm-12">
                <div class="item my-5 mx-auto"style="width: 70%;">
                  <h5 class="text-uppercase font-weight-bold" style="color:black; text-align: center; line-height:2rem;">Categories</h5>
                  <hr class="bg-gray border-1px-solid">
                  <ul class="list-unstyled">
                    <li class="my-2"><a href="home">Home</a></li>
                    <li class="my-2"><a href="#">Decor</a></li>
                    <li class="my-2"><a href="#">Lanterns</a></li>
                    <li class="my-2"><a href="home">Wall Decor</a></li>
                    <li class="my-2"><a href="#">hardware</a></li>
                    <li class="my-2"><a href="home">Bells & Chimes</a></li>
                    <li class="my-2"><a href="#">Spirituality</a></li>
                    <li class="my-2"><a href="#">Urli Decor</a></li>
                  </ul>
                </div>
              </div>
              <div class="col col-lg-4 col-md-6 col-sm-12">
                <div class="item my-5 mx-auto"style="width: 70%;">
                  <h5 class="text-uppercase font-weight-bold" style="color:black; text-align: center; line-height:2rem;">usefull links</h5>
                  <hr class="bg-gray border-1px-solid">
                  <ul class="list-unstyled">
                    <li class="my-2"><a href="home">Home</a></li>
                    <li class="my-2"><a href="#">About</a></li>
                    <li class="my-2"><a href="#">Contact us</a></li>
                    <li class="my-2"><a href="#">Terms & Condition</a></li>
                    <li class="my-2"><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
              <div class="col col-lg-4 col-md-6 col-sm-12">
                <div class="item my-5 mx-auto" style="width:70%">
                  <h5 class="text-uppercase font-weight-bold" style="color:black; text-align: center; line-height:2rem; ">contact us</h5>
                  <hr class="bg-gray border-1px-solid">
                  <ul class="list-unstyled">
                    <li class="my-2"><i class="fa fa-home p-2" aria-hidden="true"></i>Gurgaon , Sec-47</li>
                    <li class="my-2"><i class="fa fa-envelope p-2" aria-hidden="true"></i>Saritanimwal@gmail.com</li>
                    <li class="my-2"><i class="fa fa-phone p-2" aria-hidden="true"></i>+91-7678601778</li>
                  </ul>
                </div>
              </div> 
            </div>
            <hr class="bg-white border-1px-solid">
            <div class="centerdiv d-flex justify-content-center align-items-center">
              <div class="">
                <a href="#"><i class="fa fa-facebook-official text-white br-4 m-2" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin-square text-white br-4 m-2" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram text-white br-4 m-2" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter-square text-white br-4 m-2" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus-square text-white br-4 m-2" aria-hidden="true"></i></a>
              </div>
            </div>
        </footer>
    </div>
</section>