@media screen and(min-width:768px) {
    .brand{
        width: 30%;        
    }
    .collapse .navbar-nav{
        margin: 0%;
        width: 60%;
    }
    .collapse .search{
        width: 30%;
    }
}

/* .collapse {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
} */
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.brand .logo{
    padding: .5rem;
    font-size: 3rem;
    font-weight: 900;
    font-family: poppins;
}
.collapse .navbar-nav .nav-item{
    font-size: 20px;
}
.collapse .navbar-nav .nav-item .active{
    color: orange;
}
